@use "sass:map";
@use "@angular/material" as mat;
@include mat.core();

@mixin flash-message($theme) {
    $color-config: mat.get-color-config($theme);
    $typography: mat.define-typography-config();
    $primary-palette: mat.get-color-from-palette($color-config, "primary");
    $accent-palette: mat.get-color-from-palette($color-config, "accent");
    $warn: mat.get-color-from-palette($color-config, "warn");
    $background: mat.get-color-from-palette($color-config, "background");
    $foreground: mat.get-color-from-palette($color-config, "foreground");

    .haze__flash {
        display: flex;
        padding: 0 15px;
        border-radius: 10px;
        color: mat.get-color-from-palette($foreground, "text");
        align-items: center;
        &.error {
            background: mat.get-color-from-palette(mat.$red-palette, 500);
            color: #fff;
        }
        &.success {
            background: mat.get-color-from-palette(mat.$green-palette, 500);
            color: #fff;
        }

        .content {
            display: flex;
            align-items: center;
            mat-icon {
                margin-right: 10px;
            }
        }
    }
}
