<app-admin-drawer>
  <div class="haze__page-header haze__page-header--with-card-below">
    <div class="haze__page-header--title">
      <h2 class="mat-h2">Update the app</h2>
    </div>

    <app-breadcrumb type="button" [route]="actionsPageRoute"></app-breadcrumb>
  </div>

  <div class="haze__page-container haze__page-container--card-below">
    <mat-card class="haze__card haze__card--fit-content mx-auto">
      <!-- <mat-slide-toggle color="primary">Auto update the CMS</mat-slide-toggle>
      <br/>
      <mat-slide-toggle color="primary"
        >Save local code before update (stash)</mat-slide-toggle
      > -->

      <div *ngIf="currentVersionTag === lastVersionTag" class="text-center">
        <app-alert
          type="info"
          icon="info"
          title="Congrats !"
          subTitle="You already have the latest version of HazeCMS ({{
          currentVersionTag }})"
        ></app-alert>
      </div>
      <div *ngIf="currentVersionTag !== lastVersionTag">
        <p class="mat-p">
          Current version : <b>{{ currentVersionTag }}</b><br />
          Latest version : <b>{{ lastVersionTag }}</b>
        </p>

        <p class="mat-caption">
          Make sure you saved your local code before updating !
        </p>

        <div class="text-center">
          <button
            mat-raised-button
            color="primary"
            class="haze__button"
            (click)="onUpdateCMS()"
            [disabled]="isUpdating"
          >
            <mat-icon>check_circle</mat-icon> {{ isUpdating ? 'Update in
            progress...' : 'Update now' }}
          </button>
        </div>

        <div class="text-center">
          <a
            mat-button
            class="haze__button"
            href="//docs.hazecms.com"
            target="_blank"
          >
            <mat-icon>library_books</mat-icon> Read how to update
          </a>
        </div>
      </div>

      <div class="mt-15 text-center">
        <button
          mat-raised-button
          color="accent"
          class="haze__button"
          (click)="onCheckUpdates()"
        >
          <mat-icon>refresh</mat-icon> Check for updates
        </button>
      </div>
    </mat-card>
  </div>
</app-admin-drawer>
