<app-admin-drawer>
  <div class="haze__page-header haze__page-header--with-card-below">
    <div class="haze__page-header--title">
      <h2 class="mat-h2">Pages</h2>
    </div>
  </div>

  <div class="haze__page-container haze__page-container--card-below">
    <mat-card class="haze__card">
      <app-admin-navlist></app-admin-navlist>

      <button mat-raised-button routerLink="/admin/pages/add" color="primary">
        <mat-icon>add</mat-icon> Add a page
      </button>
    </mat-card>
  </div>
</app-admin-drawer>
