<app-admin-drawer>
  <div class="haze__page-header haze__page-header--with-card-below">
    <div class="haze__page-header--title">
      <h1 class="mat-h1">Update settings</h1>
    </div>

    <app-breadcrumb type="button" [route]="updatePageRoute"></app-breadcrumb>
  </div>

  <div class="haze__page-container haze__page-container--card-below">
    <mat-card class="haze__card haze__card--fit-content mx-auto">
      <app-admin-navlist></app-admin-navlist>

      <mat-nav-list>
        <a mat-list-item routerLink="/admin/settings/update/changelogs">
          <mat-icon matListItemIcon>published_with_changes</mat-icon> Changelogs
        </a>
        <a mat-list-item routerLink="/admin/settings/update/actions">
          <mat-icon matListItemIcon>check_circle</mat-icon> Update app
        </a>
      </mat-nav-list>
    </mat-card>
  </div>
</app-admin-drawer>
