<app-admin-drawer>
  <div class="haze__page-header haze__page-header--with-card-below">
    <div class="haze__page-header--title">
      <h2 class="mat-h2">How to update</h2>
    </div>

    <app-breadcrumb type="button" [route]="settingsPageRoute"></app-breadcrumb>
  </div>

  <div class="haze__page-container haze__page-container--card-below">
    <mat-card class="haze__card">
      <app-admin-navlist></app-admin-navlist>

      <h3 class="mat-h3">Checklist</h3>
      <mat-checkbox color="primary" #exportedCheckbox
        >You exported your entire database</mat-checkbox
      >
      <mat-checkbox color="primary" #savedWorkCheckbox
        >You saved your local work using RSYNC or GIT</mat-checkbox
      >

      <div
        *ngIf="exportedCheckbox.checked && savedWorkCheckbox.checked"
        class="mt-15"
      >
        <button
          mat-raised-button
          color="accent"
          class="haze__button w-100"
          routerLink="/admin/settings/update/actions"
        >
          <mat-icon>schedule</mat-icon> Update now
        </button>
      </div>

      <div class="mt-15 mb-15">
        <mat-divider></mat-divider>
      </div>

      <h3 class="mat-h3">Front-end</h3>

      <p class="mat-caption">You don't need to do nothing in the front-end</p>

      <div class="mt-15 mb-15">
        <mat-divider></mat-divider>
      </div>

      <h3 class="mat-h3">Back-end</h3>

      <p class="mat-caption">
        Before you update the CMS, you can run this script located at the root
        of the project, to save all automatically :<br />
      </p>

      <pre><code lang="bash" [highlight]="'./backend/before_update.bat'"></code></pre>

      <p class="mat-p">This script will :</p>
      <ul>
        <li>Tracks your files and commit them into your GIT repository</li>
        <li>
          Clone your database into
          <pre><code lang="bash" [highlight]="'./backend/saves/%databaseType%/save_09-15-2023.%databaseTypeExtension%'"></code></pre>
        </li>
        <li>
          Clone your source code into
          <pre><code lang="bash" [highlight]="'./backend/saves/sources/save_09-15-2023/**'"></code></pre>
        </li>
      </ul>

      <h5 class="mat-h5">If this script above failed :</h5>

      <p class="mat-p">1. Do a soft copy using GIT :</p>

      <pre><code lang="bash" [highlight]="softCopyInstructions"></code></pre>

      <p class="mat-p">2. Do a hard copy using RSYNC :</p>

      <pre><code lang="bash" [highlight]="hardCopyInstructions"></code></pre>

      <p class="mat-p">3. Clone your database using mysql</p>

      <pre><code lang="bash" [highlight]="'mysqldump -u root -p[%password%] %databaseName% > saves/mysql/save_09-15-2023.sql'"></code></pre>
      <p class="mat-caption">
        Replace %password% by your database password; <br />
        Replace %databaseName% by your database name; default to <b>hazecms</b>
      </p>
    </mat-card>
  </div>
</app-admin-drawer>
