<mat-toolbar class="haze__toolbar" color="accent">
  <button mat-button aria-label="Brand logo" class="haze__brand" routerLink="/">
    <img
      src="/assets/images/haze__brand.png"
      alt="Brand logo"
      width="30"
    />azeCMS
  </button>

  <span class="spacer"></span>

  <button mat-raised-button color="primary" routerLink="/admin">
    <mat-icon>admin_panel_settings</mat-icon> Go to admin
  </button>

  <button mat-icon-button [matMenuTriggerFor]="accountMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #accountMenu class="haze__menu">
    <div *ngIf="!currentUser">
      <div>
        <button mat-button class="haze__button w-100" routerLink="/login">
          <mat-icon>login</mat-icon> Login
        </button>
      </div>
      <div>
        <button
          mat-raised-button
          color="primary"
          class="haze__button w-100"
          routerLink="/register"
        >
          <mat-icon>edit</mat-icon> Register
        </button>
      </div>
    </div>
    <div *ngIf="currentUser && currentUser.id">
      <button mat-menu-item routerLink="/admin" routerLinkActive="active">
        <mat-icon>admin_panel_settings</mat-icon> Admin panel
      </button>
      <button mat-menu-item routerLink="/account" routerLinkActive="active">
        <mat-icon>face</mat-icon> My account
      </button>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon color="warn">logout</mat-icon> Logout
      </button>
    </div>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
