<div class="mt-15">
  <form>
    <div class="haze__flex-form haze__flex-form--column">
      <mat-form-field>
        <mat-label>Page title</mat-label>
        <input matInput placeholder="My Awesome page" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Page description</mat-label>
        <textarea
          matInput
          placeholder="Lorem ipsum dolor sit amet..."
        ></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Page url</mat-label>
        <input matInput placeholder="my-awesome-page" />
      </mat-form-field>
    </div>
  </form>
</div>
