
@mixin reset() {
    * {
        clear: both;
        box-sizing: border-box;
    }

    html,
    body {
        height: 100%;
    }
    body {
        margin: 0;
        font-family: "Montserrat", sans-serif;
        background: #f3f3f3;
    }
    
}