<app-admin-drawer>
  <div class="haze__page-header haze__page-header--with-card-below">
    <div class="haze__page-header--title">
      <h1 class="mat-h1">Dashboard</h1>
    </div>
  </div>

  <div class="haze__page-container haze__page-container--card-below">
    <mat-card class="haze__card">
      <app-admin-navlist></app-admin-navlist>

      <div class="haze__grid">
        <div class="haze__grid--item">
          TODO: Dashboard
          <!-- <mat-card class="haze__card haze__card--fit-content">
            <h1 class="mat-h1">120 users</h1>
            <button mat-button aria-label="View all">
              <mat-icon>open_in_new</mat-icon> View all
            </button>
          </mat-card> -->
          <!-- TODO: Other items and styling-->
        </div>
      </div>
    </mat-card>
  </div>
</app-admin-drawer>
