<app-admin-drawer>
  <div class="haze__page-header haze__page-header--with-card-below">
    <div class="haze__page-header--title">
      <h2 class="mat-h2">Preview a post</h2>
    </div>

    <app-breadcrumb type="button" [route]="viewPostRoute"></app-breadcrumb>
  </div>

  <div class="haze__page-container haze__page-container--card-below">
    <mat-card class="haze__card">
      <button mat-button routerLink="/admin/blog" class="haze__button">
        <mat-icon>arrow_backward</mat-icon> Back
      </button>
      <button
        *ngIf="blogPost"
        mat-raised-button
        color="primary"
        class="haze__button"
        routerLink="/admin/blog/edit/{{ blogPost.id }}"
      >
        <mat-icon>edit</mat-icon> Edit post
      </button>

      <div *ngIf="blogPost">
        <h4 class="mat-h4">
          Status : {{ blogPost.published ? "Published" : "Not published" }}
        </h4>

        <p class="mat-caption">
          Created at {{ blogPost.createdAt | amDateFormat: 'MM/DD/YY [at] HH:mm'
          }}
        </p>

        <p class="mat-caption">
          Published at {{ blogPost.publishedAt | amDateFormat: 'MM/DD/YY [at]
          HH:mm' }}
        </p>

        <p class="mat-caption">
          Edited at {{ blogPost.updatedAt | amDateFormat: 'MM/DD/YY [at] HH:mm'
          }}
        </p>

        <p class="mat-p">Tags :</p>
        <mat-chip-listbox>
          <mat-chip *ngFor="let tag of postTags"> {{ tag }} </mat-chip>
        </mat-chip-listbox>

        <h3 class="mat-h3">Title : {{ blogPost.name }}</h3>

        <p class="mat-p">Content :</p>
        <span [innerHTML]="postContent"></span>
      </div>
    </mat-card>
  </div>
</app-admin-drawer>
